/** @format */

.newsec-image {
  background-image: url('../assets/khabi.png');
  background-color: #8ddb90;
  background-blend-mode: screen;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.newsec-image-dark {
  background-image: url('../assets/khabi.png');
  background-color: #09391c;
  background-blend-mode: screen;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.newsec-image-blue {
  background-image: url('../assets/khabi.png');
  background-color: #073563;
  background-blend-mode: screen;
  background-size: contain;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
