/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  background: #eef1f1;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.font-epilogue {
  font-family: var(--font-epilogue);
}

.font-archivo {
  font-family: var(--font-archivo), sans-serif;
}

.font-ubuntu {
  font-family: var(--font-ubuntu), sans-serif;
}

* {
  font-family: var(--font-roboto);
}

@font-face {
  font-family: 'Clash Display';
  src: url('/Fonts/WEB/fonts/ClashDisplay-Regular.woff2') format('woff2'),
    url('/Fonts/OTF/ClashDisplay-Regular.otf') format('opentype'),
    url('/Fonts/WEB/fonts/ClashDisplay-Regular.woff') format('woff'); /* Optional fallback */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/Fonts/WEB/fonts/ClashDisplay-Semibold.woff2') format('woff2'),
    url('/Fonts/OTF/ClashDisplay-Medium.otf') format('opentype'),
    url('/Fonts/WEB/fonts/ClashDisplay-Medium.woff') format('woff'); /* Optional fallback */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clash Display';
  src: url('/Fonts/WEB/fonts/ClashDisplay-Bold.woff2') format('woff2'),
    url('/Fonts/OTF/ClashDisplay-Bold.otf') format('opentype'),
    url('/Fonts/WEB/fonts/ClashDisplay-Bold.woff') format('woff'); /* Optional fallback */
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%; /* Full width by default */
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

/* Phones (default: full width) */

/* Tablets (min-width: 640px) */
@media (min-width: 640px) {
  .container {
    max-width: 100%;
  }
}

/* Laptops (min-width: 1024px) */
@media (min-width: 1024px) {
  .container {
    max-width: 1250px;
  }
}

/* Larger Screens (min-width: 1440px) */
@media (min-width: 1440px) {
  .container {
    max-width: 1400px;
  }
}
